@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.Top_Title {
    display: flex;
    flex-direction: row;
    margin-top:60px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}

.Contacts {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}

.email {
    margin-right: 10px;
}

.linkedin {
    margin-right: 10px;
}


.Hello {
    font-family:'Montserrat';
    font-size: 50px;
    text-align: left;
    display: flex;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.Hi {
    margin-bottom: -10px;
}

.caption {
    font-size: 15px;
    font-family: "Source Code Pro";
    font-weight: normal;
    color: rgb(79, 79, 79);
}

.myProfile {
    display: flex;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 3rem;
    border-style: solid;
}

.infoBoxes {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    font-family:'Montserrat';
}

.leftSide {
    display:flex;
    flex-direction: column;
}

.rightSide {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.aboutMe {
    background-color: #B3D1D9;
    width: 600px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.aboutmetitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.aboutmetext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
}

.Experience {
    background-color: #B3D1D9;
    width: 600px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.exptitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.exptext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
}

.techtitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.technicalSkills {
    background-color: #c8d29d;
    width: 400px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.techtext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
}

.relctitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.relevantCoursework {
    background-color: #c8d29d;
    width: 400px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.relctext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
}

@media screen and (max-width: 768px) {
    .Top_Title {
        flex-direction: column;
        margin-top:60px;
        margin-bottom: 30px;
        margin-left: 150px;
        margin-right: 150px;
        align-items: center;
    }

    .Contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .Hello {
        text-align: center;
    }

    .myProfile {
        margin-left: auto;
        margin-right: auto;
    }

    .infoBoxes {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    
    .rightSide {
        margin-left: 0;
    }
    
    .aboutMe,
    .Experience,
    .technicalSkills, .relevantCoursework {
        width: auto;
        margin-right: 0;
    }
}
