@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



.Top_Title {
    display: flex;
    flex-direction: row;
    margin-top:40px;
    margin-bottom: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
    align-items: center;
}

.emaill {
    margin-right: 10px;
}

.emaill path {
    transition: fill 0.3s ease;
}

.emaill:hover path{
    fill: rgb(79, 79, 79);;
}

.Contacts {
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
    margin-right: 8vw;
    align-items: center;
}


.Hello {
    font-family:'Montserrat';
    font-size: 50px;
    text-align: left;
    display: flex;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.Hi {
    margin-bottom: -10px;
}

.caption {
    font-size: 15px;
    font-family: "Source Code Pro";
    font-weight: normal;
    color: rgb(79, 79, 79);
}

.email {
    margin-right: 10px;
}

.email path {
    transition: fill 0.3s ease;
}

.email:hover path{
    fill: rgb(79, 79, 79);;
}

.linkedin {
    margin-right: 10px;
}

.linkedin path {
    transition: fill 0.3s ease;
}

.linkedin:hover path{
    fill: rgb(79, 79, 79);;
}

.github path {
    transition: fill 0.3s ease;
}

.github:hover path{
    fill: rgb(79, 79, 79);;
}

.myProfile {
    display: flex;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 3rem;
    border-style: solid;
}

.infoBoxes {
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 30px;
    font-family:'Montserrat';
}

.leftSide {
    display:flex;
    flex-direction: column;
}

.rightSide {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.aboutMe {
    background-color: #B3D1D9;
    width: 40vw;
    padding: 2.5vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
    transition: 0.3s ease;
}

.aboutMe:hover {
    transform:scale(1.01);
    transition: 0.3s ease;
}

.aboutmetitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.aboutmetext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
    line-height: 1.5;
}

.Experience {
    background-color: #B3D1D9;
    width: 40vw;
    padding: 2.5vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
    transition:0.3s ease;
}

.Experience:hover {
    transform:scale(1.01);
    transition: 0.3s ease;
}

.exptitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.exptext {
    margin: 0;
    font-size: 16px;
    font-family: "Source Code Pro";
    line-height: 1.5;
    margin-bottom: 1vh;
}

.resume{
    display: flex;
    background-color: #FFD6DA;
    width: 25vw;
    padding: 2.5vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    align-self: center;
    justify-content: center;
}

.resume:hover {
    width: 30vw;
    transition: 0.3s ease;
    background-color: #fabcc2;
}

.techtitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.technicalSkills {
    background-color: #c8d29d;
    width: 30vw;
    padding: 2.5vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
    transition: 0.3s ease;
}

.technicalSkills:hover {
    transform:scale(1.015);
    transition: 0.3s ease;
}

.techtext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
    line-height: 1.5;
}

.relctitle {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.relevantCoursework {
    background-color: #c8d29d;
    width: 30vw;
    padding: 2.5vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
    transition: 0.3s ease;
}

.relevantCoursework:hover {
    transform:scale(1.015);
    transition: 0.3s ease;
}

.relctext {
    margin: 0;
    font-size: 20px;
    font-family: "Source Code Pro";
    line-height: 1.5;
}

.footer {
    display: flex;
    background-color: rgb(222, 223, 218);
    justify-content: center;
    padding: .5vw;
    font-family:'Montserrat';
}



@media screen and (max-width: 768px) {
    .Top_Title {
        flex-direction: column;
        margin-top:60px;
        margin-bottom: 20px;
        /* margin-left: 150px;
        margin-right: 150px; */
        align-items: center;
    }

    .Contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .Hello {
        text-align: center;
    }

    .myProfile {
        margin-left: auto;
        margin-right: auto;
        justify-content: center
    }

    .infoBoxes {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    
    .rightSide {
        margin-left: 0;
    }
    
    .aboutMe,
    .Experience,
    .technicalSkills, .relevantCoursework{
        width: auto;
        margin-right: 0;
    }

    .resume {
        width: 60vw;
        margin-right: 0;
        transition: 0.3s ease;

    }

    .resume:hover {
        width: 82.9vw;
        transition: 0.3s ease;
    }
}
